<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Custom styles for this template-->
<link th:rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" />


</head>
<body>
	<header th:replace="plantilla::header"></header>






	<div class="container col-md-6 col-sm-6 col-lg-8 mt-2">
		<h3>FORMULARIO REGISTRO DE CLIENTE</h3>
		<form th:action="@{/app/cliente/crear}" th:object="${cliente}"
			method="POST" autocomplete="off">
			<fieldset>
				<legend>Información Personal</legend>
				<div class="form-group">
					<input type="text" name="nombre" th:field="*{id}"
						class="form-control" placeholder="Codigo" readonly="readonly" />

				</div>

				<div class="form-group">
					<input type="text" name="nombre" th:field="*{nombre}"
						class="form-control" placeholder="Nombres" />

				</div>
				<div class="form-group">
					<input type="text" name="documento" th:field="*{documento}"
						class="form-control" placeholder="Documento:" />
				</div>


			</fieldset>


			<fieldset>
				<legend>Datos Contacto</legend>
				<div class="form-group">
					<input type="text" name="ciudad" th:field="*{ciudad}"
						class="form-control" placeholder="Ciudad" />
				</div>

				<div class="form-group">
					<input type="text" name="barrio" th:field="*{barrio}"
						class="form-control" placeholder="Barrio" />
				</div>
				<div class="form-group">
					<input type="text" name="direccion" th:field="*{direccion}"
						class="form-control" placeholder="Direccion" />
				</div>
				<div class="form-group">
					<input type="number" name="telefono" th:field="*{telefono}"
						class="form-control" placeholder="Telefono" />
				</div>
				<div class="form-group">
					<input type="email" name="email" th:field="*{email}"
						class="form-control" placeholder="Email" />
				</div>


			</fieldset>






			<div class="box-footer">
				<button type="submit" class="btn btn-primary">Crear</button>
			</div>
		</form>
	</div>
	<footer th:replace="plantilla :: footer"></footer>


	<!-- Bootstrap core JavaScript-->
<script type="text/javascript" th:src="@{/jQuery/jquery-3.6.0.js}"></script>
	<script type="text/javascript" th:src="@{/Bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>